.main {
  width: 100vw;
  min-height:80vh;
  position: relative;
}

.main-image {
    background-image: url("../../assets/meals.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    height: 60%;
    z-index: -1;
    transform: rotate(0deg);
    filter: blur(4px);
}

.main-image::after {
    content: "";
    background: #8a2b06;
    display: block;
    position: absolute;
    height: 500px;
    left: 0;
    right: 0;
    bottom: -350px;
    transform: rotate(-5deg);
}

