.vscode/launch.json
.vscode/settings.json
exercicios-nodejs/ex-001/node_modules
exercicios-nodejs/ex-005/node_modules
exercicios-nodejs/ex-007/node_modules
exercicios-nodejs/ex-008/node_modules
exercicios-nodejs/ex-009/node_modules
exercicios-nodejs/ex-010/node_modules
