@media screen and (max-width: 1200px) {
  main img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  .times {
    width: 50px;
  }

  h2 {
    font-size: clamp(3rem, 10vw, 5rem);
  }

  p {
    font-size: 14px;
  }

  main img {
    display: flex;
    height: 33vh;
  }
}