:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #2c0d00;
  background-color: #8a2b06;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: transparent;

}

::-webkit-scrollbar-thumb {
  
  width: 6px;
  background: #2c0d00;
  border-radius: 32px;
}