.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: #E2E2E2;
}

.list a:hover,
.list a.active {
  color: #f3f8b0;
  text-decoration: underline;
}