/* Gerais */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --button: #ff0000;
  --main-bg: #c4c4c4;
  --bg: #e5e5e5;
  --text: #000;
  --text-description: #9c9696;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg);
}

header a {
  display: inline-block;
  padding: 10px 0;
  margin: 5.5px 0;
  color: var(--text);
}

header input {
  height: 40px;
  margin-top: 20px;
  background: white url(assets/icon-search.svg) no-repeat scroll 5px;
  padding-left: 35px;
  font-size: 18px;
}

/* Main */
main {
  display: flex;
}

section:nth-child(1) {
  flex: 1;
  background-color: var(--bg);
}

section:nth-child(2) {
  flex: 1.5;
  background-color: var(--main-bg);
  text-align: center;
}

/* Section 1 */
article {
  max-width: 50%;
  display: block;
  margin: 80px auto 0;
}

article h1 {
  font-size: 4em;
}

article p {
  color: var(--text-description);
  font-weight: bold;
  margin: 20px 0 30px;
}

article h2 {
  font-size: 2.7em;
  margin-bottom: 20px;
}

button {
  background-color: var(--button);
  color: white;
  font-size: 1.5em;
  padding: 33px 75px;
  cursor: pointer;
}

button:hover {
  background-color: #df2020;
  transition: 300ms;
}

/* Section 2 */
#gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
}

footer > a {
  color: var(--text);
  font-weight: bold;
  font-size: 18px;
}

#more {
  background-color: var(--text);
  padding: 3.25% 0;
  flex-basis: 25vw;
}

#more a {
  color: white;
  display: flex;
  justify-content: center;
}

#more img {
  padding-left: 14px;
}
