.cart-items {
  min-height: 32rem;
}

.cart-items ul {
  overflow-y: scroll;
  padding: 0 1rem;
  max-height: 24rem;
}

.no-meals {
  text-align: center;
  margin: 1rem 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin:0 1rem 0.5rem 1rem;
}

.actions {
  text-align: right;
  margin-right: 1rem;
}

.actions button {
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 0.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .close, .actions .reset {
  color: #8a2b06;
  font-weight: normal;
}

.actions .order {
  background-color: #8a2b06;
  color: white;
}

.total-and-actions {
  background-color: white;
  border-radius: 0 0 1.5rem 1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 1rem 1rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .actions {
    text-align: center;
  }

  .actions .close {
    display: none;
  }

  .total {
    flex-direction: column;
    font-size: 1rem;
  }
}
