/* Menu */
nav {
  background-color: var(--primary);
  height: 100%;
  
  overflow-x: hidden;
  width: 66px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav header > * {
  display: flex;
  padding: 10px;
  margin: 10px;
  gap: 8px;
  border-radius: 15px;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.322);
  transition: 250ms;
}

option {
  transition: 0;
}

nav header > *, footer, nav, .hided, .invisible, input{
 transition: ease-in-out 500ms;
}

nav header > *:nth-child(1) {
  justify-content: space-between;
}

nav header > *:nth-child(1) img:nth-child(2) {
  cursor: pointer;
}

.svg,
label {
  height: 26px;
}

nav header > *:nth-child(2) {
  background-color: var(--secondary);
  border-radius: 15px;
  overflow-x: hidden;
}

nav header > * input {
  background-color: var(--secondary);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

nav header > * input::placeholder,
input {
  color: var(--text-color);
}

input:focus-within {
  border: transparent;
  outline: transparent;
}

a {
  color: var(--text-color);
}

/* Menu functions */
.invisible {
  opacity: 0;
}

.spaced {
  justify-content: space-between;
}

.hided {
  display: none;
}

.expanded {
  width: 276px;
}

/* Footer */
nav > footer {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  height: 68px;

  padding: 10px;
}

#profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

#profile img {
  width: 50px;
  border-radius: 15px;
}

#infos {
  line-height: 17px;
}

#infos p:nth-child(2) {
  font-size: 14px;
}

#logout {
  margin-top: 45%;
  width: 25px;
}


