/* Gerais */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --dark-mode: rgb(36, 44, 42);
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  height: 100vh;
}

body {
  background-color: var(--light-grey);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--dark-green);
  display: flex;
  height: 100%;
}

/* main */
h1 {
  font-weight: 500;
}

main {
  padding: 0 20px;
}

/* Dark mode */
body {
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --dark-green: #084236;
  --svg-color: invert(19%) sepia(11%) saturate(4306%) hue-rotate(123deg) brightness(90%) contrast(94%);
  transition: ease-in-out 500ms;
}

body.dark-theme {
  --green: #13865c;
  --light-green: #1f4d3c;
  --light-grey: #04201b;
  --dark-green: #a5fab3;
  --svg-color: invert(99%) sepia(56%) saturate(1195%) hue-rotate(55deg) brightness(103%) contrast(96%);
}

@media (prefers-color-scheme: dark) {
  body {
    --green: #13865c;
    --light-green: #1f4d3c;
    --light-grey: #04201b;
    --dark-green: #a5fab3;
    --svg-color: invert(99%) sepia(56%) saturate(1195%) hue-rotate(55deg) brightness(103%) contrast(96%);
  }

  body.light-theme {
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --dark-green: #084236;
    --svg-color: invert(19%) sepia(11%) saturate(4306%) hue-rotate(123deg) brightness(90%) contrast(94%);
  }
}

#darkAndWhiteMode {
  background: url(../images/moon.svg) no-repeat 4px 6px, url(../images/sun.svg) no-repeat 47px 6.5px, var(--dark-mode);
  background-size: 30px;
  width: 80px;
  border-radius: 40px;
  padding: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.192);

  position: absolute;
  top: 15px;
  right: 15px;
}

#darkAndWhiteMode button {
  background-color: #546160;
  border-radius: 50%;
  padding: 18px;
  transition: ease-in-out 500ms;
}

.active {
  margin-left: 52%;
}

.svg {
  filter: var(--svg-color);
  transition: ease-in-out 300ms;
}
