/* Gerais */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --dark-mode: rgb(36, 44, 42);
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  height: 100vh;
}

body {
  background-color: var(--light-grey);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--dark-green);
  display: flex;
  height: 100%;
}

/* main */
h1 {
  font-weight: 500;
}

main {
  padding: 0 20px;
}

/* Menu */
nav {
  background-color: var(--green);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option {
  display: flex;
  padding: 10px;
  margin: 10px;
  gap: 8px;
}

.option:nth-child(1) {
  justify-content: space-between;
}

.option:nth-child(1) img:nth-child(2) {
  cursor: pointer;
}

.option img,
label {
  height: 26px;
}

.option:nth-child(2) {
  background-color: var(--light-green);
  border-radius: 15px;
}

.option input {
  background-color: var(--light-green);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.option input::placeholder,
input {
  color: var(--dark-green);
}

input:focus-within {
  border: transparent;
  outline: transparent;
}

a {
  color: var(--dark-green);
}

/* Footer */
nav > footer {
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  height: 7%;

  padding: 10px;
}

#profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

#profile img {
  width: 50px;
  border-radius: 15px;
}

#infos {
  line-height: 17px;
}

#infos p:nth-child(2) {
  font-size: 14px;
}

#logout {
  margin-top: 45%;
  width: 25px;
}

/* menu function */
.hide {
  display: none;
}

.spaced {
  justify-content: space-between;
}

.hidden:focus-visible {
  transition: 300ms all ease-in-out;
}

/* Dark mode */
body {
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --dark-green: #084236;
  transition: ease-in-out 500ms;
}

body.dark-theme {
  --green: #13865c;
  --light-green: #1f4d3c;
  --light-grey: #04201b;
  --dark-green: #90ffd1;
}

@media (prefers-color-scheme: dark) {
  body {
    --green: #13865c;
    --light-green: #1f4d3c;
    --light-grey: #04201b;
    --dark-green: #90ffd1;
  }

  body.light-theme {
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --dark-green: #084236;
  }
}

#darkAndWhiteMode {
  background: url(../images/moon.svg) no-repeat 4px 6px, url(../images/sun.svg) no-repeat 47px 6.5px, var(--dark-mode);
  background-size: 30px;
  width: 80px;
  border-radius: 40px;
  padding: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.192);

  position: absolute;
  left: 95vw;
  top: 15px;
  margin-right: 100px;
}

#darkAndWhiteMode button {
  background-color: #546160;
  border-radius: 50%;
  padding: 18px;
  transition: ease-in-out 500ms;
}

.active {
  margin-left: 52%;
}

img {
  filter: invert(83%) sepia(46%) saturate(333%) hue-rotate(92deg) brightness(102%) contrast(102%);
  transition: ease-in-out 300ms;
}
